    <!-- What I Do Section -->
    <section id="about" style="background-color: #fafdfc;">
        <div class="container">
            <div class="section-title">
                <h2>What I Do</h2>
                <div class="divider"></div>
            </div>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="service-card">
                        <div class="service-header">
                            <div class="service-icon" style="background-color: #00a4b4;">
                                <i class="fa-brands fa-angular"></i>
                            </div>
                            <h3>Angular Development</h3>
                        </div>
                        <ul class="service-list">
                            <li>Angular 12 - 22</li>
                            <li>Signals & Standalone Components</li>
                            <li>RxJS & State Management</li>
                            <li>Kendo UI / PrimeNG</li>
                            <li>Performance Optimization</li>
                        </ul>
                        <div class="service-footer text-primary">
                            <i class="fa fa-users"></i> 120+ Projects
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-card">
                        <div class="service-header">
                            <div class="service-icon" style="background-color: #3182ce;">
                                <i class="fa fa-building"></i>
                            </div>
                            <h3>Enterprise UI Development</h3>
                        </div>
                        <ul class="service-list">
                            <li>Asset Management Systems</li>
                            <li>ERP / Finance / Healthcare</li>
                            <li>Reusable & Scalable Components</li>
                            <li>Design Systems & UI Libraries</li>
                            <li>200+ APIs Integrated</li>
                        </ul>
                        <div class="service-footer" style="color: #3182ce;">
                            <i class="fa fa-chart-bar"></i> 15+ Enterprise Modules
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-card">
                        <div class="service-header">
                            <div class="service-icon" style="background-color: #9f7aea;">
                                <i class="fa fa-tachometer-alt"></i>
                            </div>
                            <h3>Performance Optimization</h3>
                        </div>
                        <ul class="service-list">
                            <li>Lazy Loading & Code Splitting</li>
                            <li>Change Detection Optimization</li>
                            <li>Bundle Size Optimization</li>
                            <li>SSR (Angular Universal)</li>
                            <li>40% Faster Applications</li>
                        </ul>
                        <div class="service-footer" style="color: #9f7aea;">
                            <i class="fa fa-bolt"></i> 40% Performance Improvement
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
